/* common */
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Lato:wght@400;700;900&family=Noto+Sans+JP:wght@100;300&family=Shippori+Mincho+B1&family=Zen+Maru+Gothic:wght@300;400&display=swap');

@font-face {
  font-family: 'anzumoji';
  src: url('../fonts/あんずもじ/APJapanesefont.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: anzumoji;
  /* font-weight: 400; */
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
  color: rgb(102, 81, 81);
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 21px;
  font-weight: bold;
}

p {
  margin: 0;
  line-height: 1.6;
  color: rgb(82, 48, 41);
  font-size: 21px;
}

p + p {
  margin-top: 16px;
}

a {
  text-decoration: none;
  /* color: #fff; */
  transition: opacity .3s;
}

a:hover {
  opacity: .8;
}

img {
  vertical-align: bottom;
}

.bg_color:nth-child(odd) {
  background: #e6d3c7;
}

.bg_color:nth-child(even) {
  background: #ebe1d9;
  /* background: #eee; */
}

.btn {
  display: block;
  width: 160px;
  background: rgb(228, 228, 228);
  text-align: center;
  padding: 8px 0;
  border-radius: 4px;
  font-weight: bold;
}

.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  max-width: 800px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header_hero {
  background: #ebe1d9;
}

/* header */

header {
  padding: 16px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header img {
  display: block;
}

header h1 {
  font-size: 15px;
}

header .sp-menu {
  margin-left: auto;
}

header .sp-menu #open {
  font-size: 32px;
  line-height: 32px;
  cursor: pointer;
  color: rgb(99, 47, 37);
  position: fixed;
  top: 20px;
  right: 40px;
}

.sp-menu #open.hide {
  display: none;
}

.pc-menu {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  color:rgb(99, 47, 37);
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

.overlay.show li:nth-child(6) {
  transition-delay: .6s;
}

.overlay li a {
  color:rgb(99, 47, 37);
  font-size: 24px;
}

i.bi-instagram {
  font-size: 20px;
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  border-radius: 16px;/*角丸に*/
  opacity: .8;
}


/* hero */

.hero {
  text-align: center;
}

#hero_title {
  /* min-height: 200px; */
  background: url("../img/bg-coffeebeans.jpg") center center / cover no-repeat;
  /*! min-height: 350px; */
  padding: 100px 0 140px 0;
}

.hero h1 {
  font-family: Lato;
  font-weight: 700;
  color: rgb(69, 54, 54);
  font-size: 40px;
}

.hero h2 {
  color: #eee;
}

.hero p {
  padding-top: 15px;
  color: #7cff97;
  font-size: 24px;
}

.hero img {
  position: relative;
  bottom: 86px;
  width: 100px;
}

/* features */

.features {
  text-align: center;
  padding-bottom: 85px;
}

.features h1 {
  padding-bottom: 40px;
  line-height: 1.6;
}

.features h2{
  padding-bottom: 16px;
}

.features section + section, .features p + p {
  margin-top: 40px;
}


/* steps */

.steps {
  padding: 64px 16px;
}

.steps h1 {
  text-align: center;
  padding-bottom: 32px;
}

.steps img {
  width: 100%;
}

.steps h2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.steps section + section {
  margin-top: 40px;
}

.process .inner .pic {
  text-align: center;
}

.process .inner .pic img {
  width: 200px;
}

/*----------------------------------*/


/* about */

.about {
  /* background: #eee; */
  padding: 64px 16px;
}

.about h1 {
  text-align: center;
  padding-bottom: 40px;
}

.about .container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.about h3 {
  font-weight: normal;
  color:rgb(99, 47, 37);
  margin: 0;
  padding-top: 25px;
  padding-bottom: 10px;
}

.about ul {
  font-size: 19px;
  color:rgb(99, 47, 37);
  padding-top: 20px;
  margin-left: 30px;
  list-style-type: disc;
}

.about .pic {
  padding-top: 32px;
}

.about img {
  width: 100%;
  max-width: 450px;
}


/* products */

.products {
  padding: 64px 0;
  /* background: #eee; */
}

.products h2, .products p {
  text-align: center;
}

.btn {
  display: block;
  /*! width: 185px; */
  background: #e9b6a9;
  /* color: #fff; */
  text-align: center;
  padding: 8px 15px;
  border-radius: 30px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 26px;
}

.products ul {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* justify-content: center; */
}

.products h1 {
  text-align: center;
  padding-bottom: 10px;
}

.products li {
  width: calc((100% - 16px) / 2);
  /* outline: 2px solid #cca689; */
}

.products li a {
  display: block;
}

.products li img {
  width: 100%;
}

.products li h2 {
  margin-top: 8px;
}

.products li p {
  font-family: 'Murecho:wght@100';
  /* font-family: 'Kalam', cursive; */
  font-size: 15px;
  padding-top: 5px;
}

/* gallary */

.gallary {
  padding: 64px 0;
}

.gallary ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.gallary h1 {
  text-align: center;
  padding-bottom: 40px;
}

.gallary li {
  width: calc((100% - 32px) / 3);
  outline: 2px solid #cca689;
  position: relative;
}

.gallary li:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.gallary li img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
}

/* call-to-action */

.call-to-action {
  padding: 64px 16px;
}

.call-to-action h1 {
  text-align: center;
  padding-bottom: 40px;
}

.call-to-action img {
  width: 150px;
}

.call-to-action section a {
  background: #fff;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* contact */

.contact {
  padding: 64px 0;
  background: rgb(75, 59, 59);
  color: #fff;
  border-bottom: 1px dotted rgb(135, 106, 106);
}

.contact h1 {
  color: #fff;
}

.btn {
  margin-bottom: 26px;
  margin-top: 26px;
  width: 200px;
}

.contact h1 {
  text-align: center;
  padding-bottom: 40px;
}

.contact ul {
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-family: 'Lato';
}

.contact li {
  width: 242px;
  /* outline: 2px solid blueviolet; */
  font-size: 15px;
}

/* copyright */

.copyright {
  background: rgb(75, 59, 59);
  padding: 30px 0;
  text-align: center;
}

.copyright small {
  font-size: 16px;
  color:#eee;
  font-family: 'Lato';
}

@media (max-width: 420px) {  
  .features p {
    font-size: 20px;
  }
}

@media (min-width: 420px) {
  .steps h1 br {
    display: none;
  }
}

@media (min-width: 600px) {

  .hero img {
    margin-top: 0;
  }

  .products li {
    width: calc((100% - 32px) / 3);
  }

}

@media (min-width: 700px) {
  .steps .step_outer {
    display: flex;
    /*! align-items: center; */
    gap: 32px;
  }

  .steps .step_outer .desc,
  .steps .step_outer .pic {
    width: 50%;
  }

  .steps .step_outer:nth-child(even) {
    flex-direction: row-reverse;
  }
  .process .inner {
    display: flex;
    gap: 16px;
  }

  .steps h2 {
    padding-top: 0;
  }

}

@media (min-width: 800px) {

  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .pc-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .pc-menu a {
    display: block;
    text-align: center;
    color:rgb(99, 47, 37);
    font-size: 20px;
    padding: 10px;
  }

  .pc-menu a:hover {
    background: #fff;
  }

  .sp-menu {
    display: none;
  }
}

@media (min-width: 1000px) {
  #hero_title {
    padding: 167px 0px;
  }
}