@charset "UTF-8";
#topic_content{
  max-width:1280px;
  width:calc(100% - 40px); 
  margin:0 auto 100px;
  padding:50px 0 0 0;
}
#topic_content .content {
  background:#eacbc7;
  margin:10px 0;
}

#topic_content .content > div{
  margin:10px 0;
  padding:20px;
}
#topic_content .content.topic3 > div{
  margin: 0 0 20px;
  padding: 0px 20px 20px;
}

#topic_content :is(h3,h4){
  font-size:clamp(1.25rem, 1.146rem + 0.52vw, 1.563rem);/*20-25*/
}
#topic_content h3{
  text-align: center;
  padding-top:30px;
  font-family: anzumoji;
  font-size:clamp(1.875rem, 1.667rem + 1.04vw, 2.5rem);/*30-40px*/
}
#topic_content h3 ~ div{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin:100px 0;
}

.topic_item{
  padding:30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text_area{
  margin:0;
}
.text_area p{
  margin-top:10px;
  text-align: center;
}
.img_area {
  display:flex;
  justify-content: center;
  align-items:center;
  margin:10px 0;
}
.img_area img{
  width:clamp(16.25rem, 13.333rem + 14.58vw, 25rem)/*260-400px*/;
  height:clamp(16.25rem, 14.375rem + 9.38vw, 21.875rem)/*260-400px*/;
  object-fit:cover;
  border-radius: 5px;
}
.img_area .about_img1{
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}
.img_area .about_img2{
  border-radius: 80% 30% 50% 50%/50%;
}
.img_area .about_img3{
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}
.img_area .about_img4{
  object-position: 50% 100%
}
.img_area .contain{
  object-fit: contain;
}
.about_link_outer{
  margin:20px 0;
}
.about_link_instagram{
  background-color:hsla(304,98%,42%,1);
  background-image:
  radial-gradient(at 20% 5%, hsla(259,95%,60%,1) 0px, transparent 50%),
  radial-gradient(at 88% 8%, hsla(303,100%,41%,1) 0px, transparent 50%),
  radial-gradient(at 87% 72%, hsla(335,100%,50%,1) 0px, transparent 50%),
  radial-gradient(at 52% 59%, hsla(28,100%,50%,1) 0px, transparent 50%),
  radial-gradient(at 20% 81%, hsla(50,100%,50%,1) 0px, transparent 50%);
}
@media (max-width: 768px) {  
  #topic_content {
    margin: 0 auto 30px;
    padding: 30px 0 0 0;
  }
  #topic_content h3 ~ div{
    flex-direction: column;
    margin:30px 0 50px;
  }
  .text_area{
    width:100%;
  }
  .text_area p{
    margin-top:10px;
  }
  .img_area {
    width:100%;
    max-width:500px;
    margin:10px 0;
  }


}